.vs/
DeclarativeElements/DeclarativeElements/FieldsListsContentTypes/bin
DeclarativeElements/DeclarativeElements/FieldsListsContentTypes/obj
DeclarativeElements/DeclarativeElements/FieldsListsContentTypes/pkg
DeclarativeElements/DeclarativeElements/FieldsListsContentTypes/pkgobj
