.vs/
DeclarativeElements/DeclarativeElements/FieldsListsContentTypes/FieldsListsContentTypes.csproj.user
DeclarativeElements/DeclarativeElements/FieldsListsContentTypes/Properties
DeclarativeElements/DeclarativeElements/FieldsListsContentTypes/bin
DeclarativeElements/DeclarativeElements/FieldsListsContentTypes/obj
DeclarativeElements/DeclarativeElements/FieldsListsContentTypes/pkg
DeclarativeElements/DeclarativeElements/FieldsListsContentTypes/pkgobj
DeclarativeElements/DeclarativeElements/CustomFieldType/CustomFieldType.csproj.user
DeclarativeElements/DeclarativeElements/CustomFieldType/Properties
DeclarativeElements/DeclarativeElements/CustomFieldType/bin
DeclarativeElements/DeclarativeElements/CustomFieldType/obj
DeclarativeElements/DeclarativeElements/CustomFieldType/pkg
DeclarativeElements/DeclarativeElements/CustomFieldType/pkgobj
DeclarativeElements/DeclarativeElements/JSLinks/JSLinks.csproj.user
DeclarativeElements/DeclarativeElements/JSLinks/Properties
DeclarativeElements/DeclarativeElements/JSLinks/bin
DeclarativeElements/DeclarativeElements/JSLinks/obj
DeclarativeElements/DeclarativeElements/JSLinks/pkg
DeclarativeElements/DeclarativeElements/JSLinks/pkgobj