.vs/
*.user
DeclarativeElements/DeclarativeElements/FieldsListsContentTypes/Properties
DeclarativeElements/DeclarativeElements/FieldsListsContentTypes/bin
DeclarativeElements/DeclarativeElements/FieldsListsContentTypes/obj
DeclarativeElements/DeclarativeElements/FieldsListsContentTypes/pkg
DeclarativeElements/DeclarativeElements/FieldsListsContentTypes/pkgobj
DeclarativeElements/DeclarativeElements/CustomFieldType/Properties
DeclarativeElements/DeclarativeElements/CustomFieldType/bin
DeclarativeElements/DeclarativeElements/CustomFieldType/obj
DeclarativeElements/DeclarativeElements/CustomFieldType/pkg
DeclarativeElements/DeclarativeElements/CustomFieldType/pkgobj
DeclarativeElements/DeclarativeElements/JSLinks/Properties
DeclarativeElements/DeclarativeElements/JSLinks/bin
DeclarativeElements/DeclarativeElements/JSLinks/obj
DeclarativeElements/DeclarativeElements/JSLinks/pkg
DeclarativeElements/DeclarativeElements/JSLinks/pkgobj
EventReceivers/SharePointSharedLibrary/Properties
EventReceivers/SharePointSharedLibrary/bin
EventReceivers/SharePointSharedLibrary/obj
EventReceivers/SharePointSharedLibrary/pkg
EventReceivers/SharePointSharedLibrary/pkgobj
EventReceivers/SharedLogic/Properties
EventReceivers/SharedLogic/bin
EventReceivers/SharedLogic/obj
EventReceivers/EventReceiver/Properties
EventReceivers/EventReceiver/bin
EventReceivers/EventReceiver/obj
EventReceivers/EventReceiver/pkg
EventReceivers/EventReceiver/pkgobj
EventReceivers/ContentTypeWithEventReceiver/Properties
EventReceivers/ContentTypeWithEventReceiver/bin
EventReceivers/ContentTypeWithEventReceiver/obj
EventReceivers/ContentTypeWithEventReceiver/pkg
EventReceivers/ContentTypeWithEventReceiver/pkgobj
TimerJob/TimerJob/Properties
TimerJob/TimerJob/bin
TimerJob/TimerJob/obj
TimerJob/TimerJob/pkg
TimerJob/TimerJob/pkgobj
Webpart/Webpart/Properties
Webpart/Webpart/bin
Webpart/Webpart/obj
Webpart/Webpart/pkg
Webpart/Webpart/pkgobj
Webpart/GetSpecifiedItemsWebpart/Properties
Webpart/GetSpecifiedItemsWebpart/bin
Webpart/GetSpecifiedItemsWebpart/obj
Webpart/GetSpecifiedItemsWebpart/pkg
Webpart/GetSpecifiedItemsWebpart/pkgobj
MasterPage/MasterPage/Properties
MasterPage/MasterPage/bin
MasterPage/MasterPage/obj
MasterPage/MasterPage/pkg
MasterPage/MasterPage/pkgobj
MasterPage/Components/Properties
MasterPage/Components/bin
MasterPage/Components/obj
MasterPage/Components/pkg
MasterPage/Components/pkgobj
CustomRibbonAndApplicationPage/ApplicationPage/Properties
CustomRibbonAndApplicationPage/ApplicationPage/bin
CustomRibbonAndApplicationPage/ApplicationPage/obj
CustomRibbonAndApplicationPage/ApplicationPage/pkg
CustomRibbonAndApplicationPage/ApplicationPage/pkgobj
CustomRibbonAndApplicationPage/CustomRibbon/Properties
CustomRibbonAndApplicationPage/CustomRibbon/bin
CustomRibbonAndApplicationPage/CustomRibbon/obj
CustomRibbonAndApplicationPage/CustomRibbon/pkg
CustomRibbonAndApplicationPage/CustomRibbon/pkgobj